body{
  -webkit-user-select: none;
  overflow:hidden;
  width: 350;
  height: 540;
  color: #FFFFFF;
  border: 3px dotted #FFFFFF;
  background: rgba(255,0,0,0);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}

#line{
  float: left;
  width: 100%;
}

#expRange{
  width: 100%;
  margin-bottom: 5%;
}

.button{
  outline: none;
  cursor: pointer;
  float: none;
  margin: 1%;
  display: inline-block;
  width: 30%;
  height: 25px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  background: linear-gradient(to bottom, darkgray, gray);
  text-align: center;
  font-size: 14px;
}

.button1{
  background: linear-gradient(to bottom, silver, gray);
}

.button2{
  background: linear-gradient(to bottom, silver, DarkCyan);
}

.button3{
  background: linear-gradient(to bottom, silver, Chocolate);
}

.button:hover{
  border: 1px solid #2497E3;
}

.button:active{
  transform: scale(0.97);
}

input[type=checkbox]{
  -webkit-appearance: none;
  outline:  none;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
}

input[type=checkbox]:hover{
  -webkit-appearance: none;
  cursor: pointer;
}

input[type=checkbox]:checked{
  background: radial-gradient(#2497E3 35%, #FFFFFF 45%);
}

input[type=range]{
  -webkit-appearance: none;
  margin-top: 9px;
  float:  right;
  width: 90%;
  background: transparent;
}

input[type=range]:focus{
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
  height: 5px;
  cursor: pointer;
  background: #2497E3;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
}

input[type=range]::-webkit-slider-thumb{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border: 1px solid #FFFFFF;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: radial-gradient(silver, grey);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}