body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #202020;
    width: 750px;
}

.menu {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    height: 30px;
}

.spacer {
    max-width: 6px;
    min-width: 6px;
    border: 1px solid #0b1319;
    border-radius: 3px;
    background-image: linear-gradient(rgb(47,55,61) 50%, rgb(26,31,36));
    background-image: -webkit-linear-gradient(top, rgb(47,55,61) 50%, rgb(26,31,36));
    background-image: -moz-linear-gradient(top, rgb(47,55,61) 50%, rgb(26,31,36));
    box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
}

button {
    outline: none;
    color: #aeb6bc;
    width: 100%;
    min-width: 110px;
    cursor: pointer;
    border: 1px solid #0b1319;
    border-radius: 3px;
    background-image: linear-gradient(rgb(47,55,61) 50%, rgb(26,31,36));
    background-image: -webkit-linear-gradient(top, rgb(47,55,61) 50%, rgb(26,31,36));
    background-image: -moz-linear-gradient(top, rgb(47,55,61) 50%, rgb(26,31,36));
    box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
}

.text {
    font-size: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.light {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    top: 7.5px;
    width: 4px;
    height: 15px;
    border-radius: 2px;
    background: rgb(26,31,36);
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
}

button:hover .light {
    background: radial-gradient(LimeGreen 20%, DarkGreen);
    background: -webkit-radial-gradient(LimeGreen 20%, DarkGreen);
    background: -moz-radial-gradient(LimeGreen 20%, DarkGreen);
}

button:hover {
    color: #FFFFFF;
}
